<h1>hello !</h1>
<app-user-form [newUser]="newUser" (NewUser)="AddUser(newUser)"></app-user-form>

<br />
<br />
<br />

<h2>System Users</h2>

    <table border="1">
        <thead>
        <tr>
            <th >#</th>
            <th >Name</th>
            <th >Age</th>
            <th >Email</th>
            <th ></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of UserList" i = index>
            <td> {{user.id}} </td>
            <td> {{user.name}}</td>
            <td> {{user.age}}</td>
            <td> {{user.email}}</td>
            <td> <button (click)="deleteUser(user)">delete</button> </td>
        </tr>
        </tbody>
    </table>