<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Form</title>

  <style>
.star{
color:red;}
.container{
            margin: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            box-shadow: 1px 1px 1px #999;
            -moz-box-shadow: 0 0 5px #888;
            -webkit-box-shadow: 0 0 5px#888;
            box-shadow: 0 0 5px #888;
        }
.form-group{
  margin: 10px;
}

</style>
</head>
<body>
  <h2>Add User </h2>
<div style="display:block ;" class="container">
  
  <form #form="ngForm" (ngSubmit)="AddUser(form)" >

    <div class="form-group row">
      <label for="inputFirstName" class="col-sm-2 col-form-label">First Name <sup class="star">*</sup> </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
      </div>
    </div> 

    <div class="form-group row">
      <label for="inputLastName" class="col-sm-2 col-form-label">Last Name <sup class="star">*</sup> </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
      </div>
    </div> 

    <div class="form-group row">
      <label for="inputDate" class="col-sm-2 col-form-label">Birth Date </label>
      <div class="col-sm-10">
        <input type="Date" class="form-control" id="inputDate" placeholder="birth date">
      </div>
    </div> 

    <div class="form-group row">
      <label for="inputemail" class="col-sm-2 col-form-label">Email <sup class="star">*</sup> </label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputemail" placeholder="email">
      </div>
    </div>

    
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password <sup class="star">*</sup> </label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>

    <!-- <label> FirstName <sup class="star">*</sup> </label> 
    <div>
    <input type="text" [(ngModel)]="NewUser.firstName" required name="newUser.firstName">
    <span *ngIf="form.form.controls['newUser.firstName']?.touched 
    && !form.form.controls['newUser.firstName']?.valid">Reguired !!</span>
    </div>
    <label > LastName <sup class="star">*</sup> </label>
    <div>
    <input type="text" name="newUser.lastName" [(ngModel)]="NewUser.lastName ">
    </div>
    <label> Name </label> 
    <div>
    <input type="text" [(ngModel)]="NewUser.name" required name="newUser.name">
    <span *ngIf="form.form.controls['newUser.name']?.touched 
    && !form.form.controls['newUser.name']?.valid">Reguired !!</span>
    </div>
    <label > Date Of Birth</label>
    <div>
    <input type="date" name="newUser.DOB" [(ngModel)]="NewUser.DOB ">
    </div>
    <label> email <sup class="star">*</sup> </label>
    <div>
    <input type="email" [(ngModel)]="NewUser.email" required email name="newUser.email">
    <span *ngIf="form.form.controls['newUser.email']?.touched 
    && !form.form.controls['newUser.email']?.valid">Reguired and must be an email !!</span>
    </div>
    <label> password <sup class="star">*</sup> </label>
    <div>
    <input type="password" [(ngModel)]="NewUser.password" required name="newUser.password">
    <span *ngIf="form.form.controls['newUser.password']?.touched 
    && !form.form.controls['newUser.password']?.valid">Reguired !!</span>
  </div>-->
  <button type="submit" class="btn btn-secondary" >Add </button>
  
  </form>
  </div>
</body>
</html>

