<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Form</title>

  <style>
    button{
        background-color: white;
        font-size: medium;
        color: #9ED2C6 ;
        border-radius: 15px;
        border: 1px solid;
        padding: 10px;
        display: block;
        width: 170px;
        margin-top: 10px;
        
    }
    button:hover{
        background-color:#9ED2C6 ;
        color: white;
    }

</style>
</head>
<body>
  
<div style="display:block ;">
  <h2>User Form</h2>
  <form #form="ngForm" (ngSubmit)="AddUser(form)" >
    
    <label> Name </label> 
    <div>
    <input type="text" [(ngModel)]="NewUser.name" required name="newUser.name">
    <span *ngIf="form.form.controls['newUser.name']?.touched 
    && !form.form.controls['newUser.name']?.valid">Reguired !!</span>
    </div>
    <label > Date Of Birth</label>
    <div>
    <input type="date" name="newUser.DOB" [(ngModel)]="NewUser.DOB ">
    </div>
    <label> email </label>
    <div>
    <input type="email" [(ngModel)]="NewUser.email" required email name="newUser.email">
    <span *ngIf="form.form.controls['newUser.email']?.touched 
    && !form.form.controls['newUser.email']?.valid">Reguired and must be an email !!</span>
    </div>
    <label> password</label>
    <div>
    <input type="password" [(ngModel)]="NewUser.password" required name="newUser.password">
    <span *ngIf="form.form.controls['newUser.password']?.touched 
    && !form.form.controls['newUser.password']?.valid">Reguired !!</span>
  </div>
  <button type="submit">Add User</button>
  
  </form>
  </div>
</body>
</html>

