<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <style>
        .container{
            margin: auto;
            width: 80%;
        }
        .form-control{
            border: 0px;
        }
        .shading{
            box-shadow: 1px 1px 1px #999;
            -moz-box-shadow: 0 0 5px #888;
            -webkit-box-shadow: 0 0 5px#888;
            box-shadow: 0 0 5px #888;
        }
    </style>
</head>
<body>
    <div class="container shading  p-3 mb-5 bg-white rounded">
    <div class="form-floating ">
        <textarea class="form-control" placeholder="Add Your Post Here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Add Your Post </label>
        <button type="button" class="btn btn-secondary">Share</button>
    </div>
</div>

<div class="container"><p style="font-weight: bold;">Posts</p></div>
<div class="container  shading p-3 mb-5 bg-white rounded">
    
</div>



</body>
</html>
